.main-text{
    font-size: 20px;
    font-family: system-ui;
    margin-left: 48.5%;
}

.rectangle {
    width: 4%;
    height: 5px;
    background: darkorange;
    margin-left: 51%;
    margin-top: 0.5%;
}

.first-img{
    padding-left: 10%;
    padding-top: 5%;
}

.second-img{
    padding-left: 15%;
    padding-top: 5%;
}

.third-img{
    padding-left: 20%;
    padding-top: 5%;
}

.fourth-img{
    padding-left: 25%;
    padding-top: 5%;
}

.label-container{
    font-family: system-ui;
}

.first-label{
    padding-left: 9.7%;
    padding-top: 8%;
}

.second-label{
    padding-left: 12.5%;
    padding-top: 8%;
}

.third-label{
    padding-left: 18%;
    padding-top: 8%;
}

.fourth-label{
    padding-left: 24%;
    padding-top: 8%;
}