

@media only screen and (max-width: 1000px){
    .sm-col-1{ width: var(--sm-col-width); }
    .sm-col-2{ width: calc(var(--sm-col-width)*2); }
    .sm-col-3{ width: calc(var(--sm-col-width)*3); }
    .sm-col-4{ width: calc(var(--sm-col-width)*4); }
    .sm-col-5{ width: calc(var(--sm-col-width)*5); }
    .sm-col-6{ width: calc(var(--sm-col-width)*6); }

    .offer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 72px;
        padding-bottom: 122px;
        font-weight: 400;
    }
    .img1::after{
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .img2::after{
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .img3::after{
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .img4::after{
        padding-top: 20px;
        padding-bottom: 35px;
    }

    ._flex-end{
        align-self: center;
        padding-top: 40px;
    }
    .rectangle{
        display: none;
    }
    .offer-text{
        font-size: 30px;
    }
    .text-alignment{
        font-size: 20px;
    }
    .adapt-logo-container{
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }
    .adaptive-logo{
        height: 40px;
        padding-bottom: 40px;
    }
    .footer-columns{
        display: none;
    }
    .sm-footer{
        display: flex;
        color: white;
        text-decoration: underline;
        justify-content: space-around;
        font-weight: 500;
        font-size: 25px;
    }
    .end-text{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .home2-with-arrow{
        display: flex;
        align-items: center;
    }

    .arrow4{
        display: none;
    }
    .home3-container{
        display: none;
    }
    .home4-container{
        display: none;
    }
}