.header-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.offer-text{
    font-size: 20px;
}

.rectangle {
    width: 50px;
    height: 5px;
    background: darkorange;
}

.offer-container{
   display: flex;
   justify-content: space-around;
}

._alignment{
   text-align: center;
}

._flex-end {
    align-self: flex-end;
}

.text-alignment{
    position: relative;
    top: 20px;
}

.img{
   margin: 0 auto;
}