@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(fonts/Roboto-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(fonts/Roboto-Medium.woff2) format('woff2');
}
:root{
    --ig-col-width: 7.14vw;
    --sm-col-width: 15vw;
}

body{
    margin: 0 auto;
    font-family: 'Roboto';
}

.svg-container{
    display: none;
}
.trip-house-container{
    background-image: url("images/castelmezzano.jpg");
    background-position: 50% 0%;
    min-height: 900px;
    min-width: 1440px;
}

.upper-part{
    display: flex;
    justify-content: space-between;
}

.upper-text{
    font-weight: 400;
}

.trip-house-logo{
    padding-left: 100px;
    padding-top: 50px;
    width: 205px;
    height: 40px;
}

.stays-and-attractions-cont{
    display: flex;
    justify-content: flex-start;
}

.first-upper-text:hover::after{
    display: block;
    content: '';
    margin-top: 12px;
    width: 43px;
    height: 4px;
    background: darkorange;
}

.upper-text{
    color: white;
}
.account-circle{
    width: 40px;
    height: 40px;
    padding-top: 50px;
}
.first-upper-text{
    padding-top: 60px;
    padding-right: 50px;
}
.second-upper-text{
    padding-top: 60px;
    padding-right: 50px;
}
.second-upper-text:hover::after{
    display: block;
    content: '';
    margin-top: 12px;
    width: 78px;
    height: 4px;
    background: darkorange;
}
.night-img{
    width: 30px;
    height: 30px;
    padding-top: 55px;
    padding-right: 25px;
}
.main-text-wrapper{
    padding-left: 15px;
    padding-top: 177px;
    width: 542px;
    height: 118px;
}

.main-text{
    font-family: 'Roboto';
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.bottom-text{
    display: flex;
    color: white;
    padding-top: 100px;
}
.bottom-first-text{
    padding-left: 128px;
    padding-right: 221px;
    min-width: 246px;
}
.bottom-second-text{
    min-width: 173px;
}
.bottom-rect-part{
    padding-left: 104px;
    padding-right: 104px;
}
.bottom-rect{
    display: flex;
    align-items: center;
    background-color: white;
    height: 67px;
    border-radius: 8px;
}

input::placeholder{
    color: black;
    font-family: Roboto;
    font-weight: 400;
}

input{
    border: white;
    border-radius: 8px;
}

.rect-for-first-label{
    height: 64px;
}

.rect-for-first-label::placeholder{
    padding-left: 24px;
    padding-right: 358px;
}

.rect-for-sec-label{
    display: flex;
    align-items: center;
    height: 64px;
    border: 3px solid #F5BD41;
    border-radius: 8px;
}

.rect-for-sec-label::placeholder{
    padding-left: 24px;
}

.rect-for-third-label{
    height: 64px;
}

.rect-for-third-label::placeholder{
    padding-left: 24px;
    padding-right: 24px;
}

.rect-for-fourth-label{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background: #3077C6;
    border: 3px solid #3077C6;
    border-radius: 8px;
}
[type="date"] {

}
.calendar-1{
    padding-right: 5px;
}

.fourth-rect-text{
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}
.google-play-img{
    padding-right: 17px;
}

.app-store-img{
    width: 120px;
    height: 40px;
}

.home-container{
    background-color: #EAF0F9;
}

.home-container-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 120px;
}

.homes-main-text{
    font-weight: 500;
    padding-bottom: 105px;
}

.home-pics-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}

.arrow{
    margin-left: -25px;
    width: 40px;
    height: 40px;
}

._blue{
    color: #3077C6;
}

._grey{
    color: #BFBFBF;
}

._text_decoration{
    font-weight: 400;
    font-family: 'Roboto';
}


.dest-container-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 120px;
}

.dest-main-text{
    font-weight: 500;
    padding-bottom: 105px;
}

.dest-pics-container{
    display: flex;
    justify-content: space-around;
}

.dest-button-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    padding-bottom: 65px;
}

.dest-button{
    background-color: #f3f3f4;
    border: 0px;
    height: 65px;
    border-radius: 10px;
}

.dest-button:hover{
    background-color: #3077C6;
    color: white;
}

.dest-arrow{
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}

.arrow-cont{
    display:flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.sign-up-wrapper{
    display: flex;
    justify-content: space-around;
}

.sign-up-container{
    display: block;
    background-color: #EAF0F9;
}

.sign-up-container-upper{
    display: flex;
    justify-content: flex-end;
}
.close-pic{
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 1px;
    width: 26px;
    height: 26px;
}
.sign-up-container-bottom{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 150px;
}
.sign-up-text-cont{
    padding-left: 20px;
    height: calc(48px + 20px + 15px);
    display: flex;
    flex-flow: column;
}
.sign-up-text{
    font-weight: 500;
    padding-bottom: 20px;
}
.dest-pic-with-button{
    display: flex;
    justify-content: flex-start;
}


.header-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 120px;
}

.offer-text{
    font-size: 20px;
    font-weight: 500;
}

.header-wrapper::after{
    display: block;
    content: '';
    width: 50px;
    height: 4px;
    background: darkorange;
    margin-top: 20px;
}

@media only screen and (min-width: 1000px){
    .ig-col-1{ width: var(--ig-col-width); }
    .ig-col-2{ width: calc(var(--ig-col-width)*2); }
    .ig-col-3{ width: calc(var(--ig-col-width)*3); }
    .ig-col-4{ width: calc(var(--ig-col-width)*4); }
    .ig-col-5{ width: calc(var(--ig-col-width)*5); }
    .ig-col-6{ width: calc(var(--ig-col-width)*6); }
    .ig-col-7{ width: calc(var(--ig-col-width)*7); }
    .ig-col-8{ width: calc(var(--ig-col-width)*8); }
    .ig-col-9{ width: calc(var(--ig-col-width)*9); }
    .ig-col-10{ width: calc(var(--ig-col-width)*10); }
    .ig-col-11{ width: calc(var(--ig-col-width)*11); }
    .ig-col-12{ width: calc(var(--ig-col-width)*12); }
    .ig-col-13{ width: calc(var(--ig-col-width)*13); }
    .ig-col-14{ width: 100vw; }

    .offer-container {
        display: flex;
        justify-content: space-around;
        padding-top: 72px;
        padding-bottom: 122px;
        font-weight: 400;
    }
    .adaptive-logo{
        display: none;
    }
    .sm-footer{
        display: none;
    }

    .end-text{
        padding-left: 103px;
    }
    .img1::after{ padding-top: 60px; }
    .img2::after{ padding-top: 60px; }
    .img3::after{ padding-top: 60px; }
    .img4::after{ padding-top: 60px; }


    .home4-with-arrow{
        display: flex;
        align-items: center;
    }

    .arrow2{
        display: none;
    }


    .homes-main-text{
        font-size: 20px;
    }

    .dest-main-text{
        font-size: 20px;
    }
    .book-now{
        margin-left: -65%
    }

}
._alignment{
   text-align: center;
}

._flex-end {
    align-self: flex-end;
}

.text-alignment{
    position: relative;
    top: 20px;
}

.img{
   margin: 0 auto;
   height: 90px;
}

.img-span{
    text-align: center;
}

.img1::after{
    content: "Support 24/7";
    text-align: center;
    display: block;
}

.img2::after{
    content: "Communicate directly";
    text-align: center;
    display: block;
}

.img3::after{
    content: "Book online";
    text-align: center;
    display: block;
}

.img4::after{
    content: "Real guest reviews";
    text-align: center;
    display: block;
}

.footer{
    background-color: #10367C;
}

.footer-columns{
    max-width: 1440px;
    padding-top: 120px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}


.end-text{
    color: white;
    padding-top: 64px;
    padding-bottom: 120px;
}

.newline{
    padding: 0px;
}